@charset "utf-8";
/* CSS Document */
.container{
	width:1020px;
	margin:0 auto;
	background-color: lavender;
}

header{
	width:100%;
	text-align: center;
}

.flex-container{
	display:flex;
	background-color: cornflowerblue;
	flex-direction:row;
	align-items:stretch;
	height:150px;
}

.flex-container div{
	background-color: dodgerblue;
	flex-grow:4;
}

.flex-container .nav{
	flex-grow:1;
	flex-direction: column;
}

footer{
	width:100%;
	text-align:center;
}

@media (max-width:800px) {
	.flex-container {
		flex-direction:column;
	}
	header{background-color:lightblue;}
}