@charset "utf-8";
/* CSS Document */
.container{
	margin:0 auto;
	background-color: lavender;
	height: 600px;
}

header{
	font-size: 30px;
	font-family: co-headline, sans-serif;
	font-weight: 400;
	font-style: normal;
	width:100%;
	column-span:all;
	text-align:center;
}

.flex-container{
	display:flex;
	padding:30px 10px 30px 10px;
	background-color: cornflowerblue;
	flex-direction:row;
	flex-wrap: nowrap;
	align-items:center;
	justify-content: center;
	height:600px;
}

.flex-container div{
	background-color: dodgerblue;
	flex-grow:4;
}

.flex-container .nav{
	flex-grow:1;
	flex-direction: column;
}

footer{
	width:100%;
	row-span:all;
	text-align:center;
}

@media (max-width:800px) {
	.flex-container {
		max-width:auto;
		flex-direction:column;
	}
	
header{background-color:lightblue;}
}